// Colors
$primary-color : #111e2e;
$secondry-color: #123127;
$bg-grey: #243a52;
$dark-color: #0a0a0a;
$heading-color: #ffffff;
$btn-bg: #72b8b1;
$text-color: #fff;
$danger : #ff4c4c;
$white-color: #fff;
$black-color: #000;
// Fonts
$fontMain: 'Poppins';
$fontHeading: 'Volkhov';

